<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin"><%= title %></a>
        <div class="ms-auto d-flex align-items-center">
            <span class="text-white me-3"><%= user.name %> - alexa2fa: <%= user.alexa_2fa %></span>
            <a id="sign-out" class="btn btn-outline-light btn-sm" href="/api/sign-out">Sair</a>
        </div>
    </div>
</nav>
<style>
    body {
        padding-top: 70px;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let signOut = $('a#sign-out');
        signOut.on('click', function (e) {
            e.preventDefault();
            axios.get(signOut.attr('href'))
                .then(function (response) {
                    if (response.data.success) {
                        window.location.href = '/';
                    } else {
                        toastr.error('Erro ao sair');
                    }
                })
                .catch(function (error) {
                    toastr.error('Erro ao sair. Tente novamente.');
                });
        });
    });
</script>