<html lang="pt">
<head>
    <title>Sign-up</title>
    <%- include('./common/head.ejs') %>
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow rounded-4 border-0">
                <div class="card-body p-4">
                    <h3 class="card-title text-center mb-4">Criar Conta</h3>
                    <p class="text-center">Está ação foi permanentemente desabilitada. Se precisar de uma conta de utilizador, entre em contato com <b>Matheus Prado Rodrigues</b> pessoalmente ou no e-mail <a href="mailto:matheusprador@gmail.com">matheusprador@gmail.com</a>.</p>
                    <div class="text-center mt-3">
                        <a href="/sign-in" class="text-decoration-none">Já tem uma conta? Entrar</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('common/end.ejs') %>
</body>
</html>