<html lang="pt">
<head>
    <title>Sign-in</title>
    <%- include('./common/head.ejs') %>
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow rounded-4 border-0">
                <div class="card-body p-4">
                    <h3 class="card-title text-center mb-4">Entrar na Conta</h3>

                    <% if (typeof error !== 'undefined') { %>
                        <div class="alert alert-danger text-center" role="alert">
                            <%= error %>
                        </div>
                    <% } %>

                    <form method="POST" action="api/sign-in">
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail ou username</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="email@exemplo.com" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="******" required>
                        </div>

                        <button type="submit" class="btn btn-primary w-100 mt-3">Entrar</button>
                    </form>

                    <div class="text-center mt-3">
                        <a href="/sign-up" class="text-decoration-none">Ainda não tem conta? Cadastre-se</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<%- include('common/end.ejs') %>
<script>
    $(document).ready(function() {
        let form = $('form');
        form.on('submit', function(event) {
            event.preventDefault();
            axios.post(form.attr('action'), {
                email: $('#email').val(),
                password: $('#password').val()
            }).then(function(response) {
                if (response.data.token) {
                    localStorage.setItem('token', response.data.token);
                    window.location.href = '/admin';
                } else {
                    toastr.error('Erro ao entrar. Por favor, verifique suas credenciais.');
                }
            }).catch(function(error) {
                toastr.error('Erro ao entrar. Por favor, tente novamente.');
            });
        });
    });
</script>
</body>
</html>
