DB_CLIENT=mysql2
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=water_control
DB_USERNAME=water_control
DB_PASSWORD=replace-me
JWT_SECRET=your_jwt_secret_here
SECRET_KEY=
IAM=server
PORT=3000
TZ=America/Sao_Paulo
OPENAI_ORGANIZATION=
OPENAI_PROJECT=
OPENAI_API_KEY=
