<meta charset="UTF-8">
<title><%= typeof title !== 'undefined' ? title : 'Sem título' %></title>
<link rel="icon" href="/images/favicon.png" type="image/x-icon">
<link rel="stylesheet" href="/css/libs/bootstrap.min.css">
<link rel="stylesheet" href="/css/libs/toastr.css">
<style>
    .flash.alert {
        display: none;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">